footer {
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    padding: 1em 0;
}
.footerline {
	border-top: solid white;
}

.social-media {
	padding-top: 1em;
}

.social-media a{
	
	color: white;
	font-weight: bold;
    text-decoration: none;
}

.social-media a:hover{
	color: white;
	font-weight: bold;
    /*text-decoration: none;*/
	text-decoration: underline;
}
