body {
	background-color: #fdfdfd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 1em;
    /*text-align: center;*/
	/*border-bottom: #fdfdfd solid;*/
}

nav ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
    list-style: none;
    padding: 0;
}

nav ul li {
	display: flex;
    margin-right: 20px;
}

nav ul li a {
    color: white;
	font-weight: bold;
    text-decoration: none;
}

nav ul li a {
    
    color: white;
    font-weight: bold;
	/*border: solid white;*/
	border-radius: 21px;
	padding: 12px;
}

nav ul li a:hover {
	
	color: #333;
	background-color: white;
	transition-duration: 0.7s;
}

.roboto-mono {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 501;
	font-style: normal;
  }

  .roboto-lower {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
  }